@font-face{
    font-family: head;
    src:url(Chunk.ttf)
}
.material-symbols-outlined {
    color: white;
    font-size: 200%;
    
}
.custom-navbar{
    letter-spacing: 1px;
    font-family: head;
    background-color: #1b1b1b;
    color: white;
}

.nav-link{
    color: white;
}

body{
    background-color: #1b1b1b;
    width: 100%;
    overflow-x: hidden;
}

.footer{
    color: white;
    text-align: center;
    background-color: #1b1b1b;
}
.footer a{
    color: white;
    font-size: 300%;
}
.background{
    width: 100%;
    background-color: #9e6d3b;
}

.background img{
    position: relative;
    top: 22%;
}
